* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: wheat;
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
	overflow: hidden;
}

.alarmHeader > h1 {
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Saira', Arial, sans-serif;
	user-select: none;
	cursor: default;
}

form {
	width: 23%;
	height: 80%;
}

.timeContainer {
	padding: 15px;
	width: 100%;
	height: 100%;
	border: solid 5px white;
	border-radius: 10px;
	background-color: #faefd9;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.timeContainer > .currentTime {
	margin-top: 15px;
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Saira', Arial, sans-serif;
	font-size: 50px;
	font-weight: bold;
	user-select: none;
}

.timeContainer > button {
	cursor: pointer;
	width: 30%;
	height: 7%;
	border: 1px solid rgb(167, 167, 167);
	background-color: rgb(236, 236, 236);
	border-radius: 5px;
}

.timeContainer > button:hover {
	background-color: rgb(222, 221, 221);
}

.appendContainer {
	border: solid 5px red;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.alarmContainer {
	margin: 5px 0px;
	padding: 5px;
	border: solid 1px rgb(223, 204, 172);
	border-radius: 10px;
	background-color: rgb(224, 211, 192);
	width: 90%;
	height: 45px;
	display: flex;
	justify-content: end;
	align-items: center;
	visibility: hidden;
}

.alarmContainer > button {
	width: 20%;
	height: 90%;
	border: solid 1px rgb(176, 176, 176); 
	border-radius: 5px;
	cursor: pointer;
	background-color: rgb(236, 236, 236);
}

.alarmContainer > button:hover {
	background-color: rgb(222, 221, 221);
}