* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: wheat;
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
	overflow: hidden;
}

.alarmHeader > h1 {
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Saira', Arial, sans-serif;
}

.timeContainer {
	padding: 15px;
	width: 23%;
	height: 80%;
	border: solid 5px white;
	border-radius: 10px;
	background-color: #faefd9;
}

.timeContainer > .currentTime {
	margin-top: 15px;
	border: solid 5px red;
	width: 100%;
	height: 20%;
}
